<div class="nav">
  <ul>
    @for (item of menusList; track $index) {
    <li>
      <a [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
    </li>
    }
    <li>
      <mat-slide-toggle [disableRipple]="true" (change)="swChange($event)"
        >切换主题</mat-slide-toggle
      >
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu">切换主题</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setThem('light')">亮色</button>
        <button mat-menu-item (click)="setThem('dark')">暗色</button>
      </mat-menu>
    </li>
  </ul>
</div>

<div class="box" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>


<button mat-flat-button (click)="inc()">增加</button>
<button mat-flat-button (click)="desc()">减少</button>
<button mat-flat-button (click)="reset()">重置</button>

<button mat-flat-button (click)="editstr()">修改字符</button>

<div>Current Count: {{ count$ | async  }}</div>


<div>
  num : {{num | async}}
</div>