<div class="nav">
  <ul>
    @for (item of menusList; track $index) {
    <li>
      <a [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
    </li>
    }
    <li>
      <mat-slide-toggle [disableRipple]="true" (change)="swChange($event)"
        >切换主题</mat-slide-toggle
      >
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu">切换主题</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setThem(1)">Item 1</button>
        <button mat-menu-item (click)="setThem(2)">Item 2</button>
      </mat-menu>
    </li>
  </ul>
</div>

<div class="box" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
