<!-- <div class="nav">
  <ul>
    @for (item of menusList; track $index) {
    <li>
      <a [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
    </li>
    }
    <li>
      <mat-slide-toggle [disableRipple]="true" (change)="swChange($event)"
        >切换主题</mat-slide-toggle
      >
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu">切换主题</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setThem('theme-light-azure')">亮色1</button>
        <button mat-menu-item (click)="setThem('theme-light-rose')">亮色2</button>
        <button mat-menu-item (click)="setThem('theme-dark-magenta')">暗色1</button>
        <button mat-menu-item (click)="setThem('theme-dark-cayn')">暗色2</button>
      </mat-menu>
    </li>
  </ul>
</div>

<div class="box" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>


<button mat-flat-button (click)="inc()">增加</button>
<button mat-flat-button (click)="desc()">减少</button>
<button mat-flat-button (click)="reset()">重置</button>

<button mat-flat-button (click)="editstr()">修改字符</button>

<div>Current Count: {{ count$ | async  }}</div>


<div>
  num : {{num | async}}
</div> -->

<div class="box">
  <div class="box-left border">
    <div class="box-left-logo border">CRM系统</div>
    <div class="box-left-menu">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="box-right">
    <div class="box-right-header border"></div>
    <div class="box-right-body" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>