@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$red-palette
    ),
    typography: (
      brand-family: 'Comic Sans',
      bold-weight: 900
    ),
    density: (
      scale: -1
    )
  )
);

@include mat.all-component-themes($theme);
