@import url('./themes/light-azure.scss');
@import url('./themes/light-rose.scss');
@import url('./themes/dark-cyan.scss');
@import url('./themes/dark-magenta.scss');

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular_discuz-theme);
/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0045a8;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
  --container-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
